<nav class="navbar navbar-expand-sm bg-body-tertiary sticky-top">
  <div class="container-fluid">
      <a routerLink=""><img class="navb" src="../../assets/logo-header.svg" (click)="onGoHome()"></a>
      <div class="me-auto"></div>
      <div class="d-flex">
        <button
          *ngIf="inSession"
          id="spectatorButton"
          class="btn btn-outline-primary"
          (click)="onSpectate()">{{ spectatorButtonText }}</button>
        <button
          id="shareButton"
          class="btn btn-outline-primary"
          (click)="onShare()">{{ buttonText }}</button>
    </div>
  </div>
</nav>