<nav class="navbar navbar-expand-sm bg-body-tertiary">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <img class="navbar-brand" src="../../assets/logo-header.svg">
      <div class="d-flex m-auto">
        <button id="shareButton" class="btn btn-outline-primary mr-1">Share</button>
        <div class="vr"></div>
        <h5 class="m-auto">Session: somerandomsession here</h5>
      </div>
      <div class="navbar-nav mb-lg-0">
        <button class="btn btn-outline-primary">Create Session</button>
      </div>
      <p style="margin: 1em;">-- or --</p>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="number" placeholder="Session #"
          aria-label="Search">
        <button class="btn btn-outline-primary">Join</button>
      </form>
    </div>
  </div>
</nav>