#shareButton {
  margin-left: .2em;
}
#spectatorButton {
  margin-left: .2em;
}

.vr {
  margin-left: 1em;
  margin-right: 1em;
}

.container-fluid{
  display: inline-flex !important;
  flex-direction: row;
  flex-wrap:wrap;
}

