<div class="row">
  <app-player></app-player>
    <div class="container-fluid">
    <table id="playersTable" class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Player</th>
          <th scope="col">Vote</th>
          <th scope="col">Voted</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let player of players">
          <td>{{ player.name }}</td>
          <td *ngIf="player.vote === '0'">{{ showVotes ? '' : "〰️〰️〰️"}}</td>
          <td *ngIf="player.vote != '0'">{{ showVotes ? player.vote : "〰️〰️〰️"}}</td>
          <td>{{ player.vote ? "✔️" : ""}}</td>
        </tr>
      </tbody>
    </table>
    </div>
</div>