<div class="row">
  <div class="col-sm-12">
    <h3 class="w-100" id="storyTitle">{{ story ? story : '📔' }}</h3>
    <hr>
    <div class="mt-4"></div>
    <div class="row" *ngIf="admin">
      <div class="col-md-8 offset-md-2">
        <input
          type="text"
          class="input-group mb-3"
          placeholder="enter story..."
          [(ngModel)]="storyInput"
          (ngModelChange)="onStoryUpdated()">
        <button
          id="voteToggle"
          (click)="toggleVote()"
          class="input-group mb-3 btn btn-outline-primary">
          {{ showVotes ? "Hide" : "Show"}}
        </button>
        <button
          id="lockToggle"
          [disabled]="!showVotes"
          (click)="toggleLock()"
          class="input-group mb-3 btn btn-outline-primary">
          {{ lockVotes ? "Unlock Votes" : "Lock Votes"}}
        </button>
        <button
          id="clear"
          [disabled]="story === ''"
          (click)="onNextStory()"
          class="input-group mb-3 btn btn-outline-primary">
          Next Story
        </button>
        <div ngbDropdown>
          <button
            type="button"
            class=" input-group btn btn-outline-primary"
            id="adminActions"
            ngbDropdownToggle>
            History & Admin
          </button>
          <div ngbDropdownMenu aria-labelledby="adminActions" class="dropdown-menu">
            <button
              class="input-group btn btn-outline-primary"
              id="historyButton"
              (click)="onShowHistory()">
              History
            </button>
            <ng-multiselect-dropdown
              class="input-group"
              id="adminDropdown"
              [placeholder]="'Admins'"
              [settings]="dropdownSettings"
              [data]="dropdownList"
              [(ngModel)]="selectedItems"
              (onSelect)="onItemSelect($event)"
              (onDeSelect)="onDeSelect($event)">
            </ng-multiselect-dropdown>
          </div>
      </div>
    </div>
  </div>
</div>
<app-history-modal #modal data-bs-backdrop="static"
  [modalConfig]="modalConfig"></app-history-modal>