<!-- <div id="storyBox" class="col-sm-12 card">
  <div class="card-header">
    Story #
  </div>
  <div class="card-body">
    <h5 class="card-title offset-3">Special title treatment</h5>
    <div class="col-sm-6 offset-3">
      <input type="text" class="input-group mb-3">
      <button id="clear" class="input-group mb-3 btn btn-primary">Hide/Show</button>
      <button id="clear" class="input-group mb-3 btn btn-danger">Next Story</button>
    </div>
  </div>
</div> -->

<div class="row">
  <div class="col-sm-12">
    <h3 id="storyTitle">Story Central</h3>
    <hr>
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <input type="text" class="input-group mb-3">
        <button id="clear" class="input-group mb-3 btn btn-primary">Hide/Show</button>
        <button id="clear" class="input-group mb-3 btn btn-primary">Next Story</button>
      </div>
    </div>
  </div>
</div>