<div class="row">
  <div class="col-sm-12">
    <h3 class="w-100" id="storyTitle">{{ story ? story : '📔' }}</h3>
    <hr>
    <div class="mt-4"></div>
    <div class="row" *ngIf="admin">
      <div class="col-md-8 offset-md-2">
        <input
          type="text"
          class="input-group mb-3"
          placeholder="enter story..."
          [(ngModel)]="storyInput"
          (ngModelChange)="onStoryUpdated()">
        <button
          id="voteToggle"
          (click)="toggleVote()"
          class="input-group mb-3 btn btn-outline-primary">
          {{ showVotes ? "Hide" : "Show"}}
        </button>
        <button
          id="clear"
          (click)="onNextStory()"
          class="input-group mb-3 btn btn-outline-primary">
          Next Story
        </button>
      </div>
    </div>
  </div>
</div>