<div class="row">

  <div class="container-fluid">
    <h3 *ngIf="currentPlayer"
      id="playersTitle">{{ currentPlayer.name }} : {{ currentVote !== 0 ? currentVote : "🧋" }}
    </h3>
    <hr>
    <div class="row">
      <div class="col-10 cardBox mt-1">
        <button
          *ngFor="let vote of voteControl"
          id={{vote}}
          (click)="onVote($event)"
          [ngClass]="{active : isClicked(vote)}"
          class="btn btn-light pointCard">
          {{ vote !== 0 ?  vote : "🧋" }}
        </button>
      </div>
    </div>
    <hr>
  </div>
</div>