.pointCard {
  margin: 0.1em;
  font-size: x-large;
  border: outset 1px grey;
}

.pointCard.active {
  pointer-events: none;
}

.cardBox {
  display: flex;
  flex: 1 1 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#playersTitle {
  text-align: center;
  display: inline;
}

h3 {
  display: inline;
}

#playerNameTextBox {
  display: inline;
}

