.pointCard {
  margin: 0.1em;
  font-size: x-large;
  border: outset 1px grey;
}

.cardBox {
  display: flex;
  flex: 1 1 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em
}

#playersTitle {
  text-align: center;
}