<div class="row">
  <div class="col-10 cardBox">
    <button class="btn btn-light pointCard">0</button>
    <button class="btn btn-light pointCard">1</button>
    <button class="btn btn-light pointCard">2</button>
    <button class="btn btn-light pointCard">3</button>
    <button class="btn btn-light pointCard">5</button>
    <button class="btn btn-light pointCard">8</button>
    <button class="btn btn-light pointCard">13</button>
    <button class="btn btn-light pointCard">20</button>
    <button class="btn btn-light pointCard">40</button>
    <button class="btn btn-light pointCard">100</button>
    <button class="btn btn-light pointCard">?</button>
    <button class="btn btn-light pointCard">🧋</button>
  </div>
</div>
