<div class="row">
  <div class="col-10 cardBox">
    <button id=".5" (click)="onVote($event)"  class="btn btn-light pointCard">.5</button>
    <button id="1" (click)="onVote($event)"  class="btn btn-light pointCard">1</button>
    <button id="2" (click)="onVote($event)"  class="btn btn-light pointCard">2</button>
    <button id="3" (click)="onVote($event)"  class="btn btn-light pointCard">3</button>
    <button id="5" (click)="onVote($event)"  class="btn btn-light pointCard">5</button>
    <button id="8" (click)="onVote($event)"  class="btn btn-light pointCard">8</button>
    <button id="13" (click)="onVote($event)"  class="btn btn-light pointCard">13</button>
    <button id="20" (click)="onVote($event)"  class="btn btn-light pointCard">20</button>
    <button id="40" (click)="onVote($event)"  class="btn btn-light pointCard">40</button>
    <button id="100" (click)="onVote($event)"  class="btn btn-light pointCard">100</button>
    <button id="0" (click)="onVote($event)"  class="btn btn-light pointCard">🧋</button>
  </div>
</div>
